.gridContainer 
{
	padding: 60px 0px;
	margin-top: -20px;
	background-color: #e2cec5;
}

.container
{
	display: flex;
	flex-direction: column;
}

.formTitle 
{
	color: #BF5E66;
	font-size: 22px;
	font-weight: 400;
}

.buttonStyle
{
	cursor: pointer;
	border: 1px solid #eee;
	border-radius: 10px;
	padding: 10px;
    background-color: #BF5E66;
	color: white
}
