.designContainer
{
	background-image: url('../../image/basketDesign.jpg');
	width: 50%;
	height: auto;
}

.gridDiv
{
	display: flex;
	margin-bottom: 20px;
}

.background
{
	background-color: #FBFCFC;
	padding: 20px 0px;
	margin: -23px 0px
}

.flowersTitle
{
	text-align: center;
	color: #BF5E66;
	font-size: 30px;
	font-family: Comfortaa, cursive;
}

.options
{
	color: #BF5E66;
	font-size: 20px;
	font-family: Comfortaa, cursive;
	margin-left: 230px
}

