.carouselBody
{
    top:-20px;
    width: 90%;
    justify-content: center;
    margin: auto;
    margin-top:30px;
}

.slider1
{
    color: rgb(153, 27, 27) !important;
    bottom: 70% !important;
    word-wrap: break-word;
    width: 320px;
    font-size: 25px;
}

.slider2
{
    color: rgb(204, 79, 89) !important;
    bottom: 60% !important;
    left: 60% !important;
    word-wrap: break-word;
    width: 350px;
    font-size: 25px;
}

.slider3
{
    color: rgb(204, 79, 89) !important;
    font-size: 25px;
}

.animation{
    -webkit-animation: thing 20s;
    -o-animation: thing 20s;
    animation: thing 20s;
    transition: ease-in-out 0.1s;
}
@keyframes thing{
    from{
        
        transform: scale(1,1);
    
    } 
    to{
        transform: scale(1.2,1.2);
    }

}