.h4{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    color: white;
}

.footer
{
   background-color: #BF5E66 ;
   margin-top: 20px;
   /* background-color: #BF5E66; */
   height: 100px;
   padding: 20px 0px;
}

.icons
{
    color:white;
    cursor: pointer;
}

#copyright{
    background-color: #BF5E66 ;
    text-align: center;
    color: white;
    font-size: 12px;
}

